.navbar {
  width: 100%;
}
.logo {
  width: 80px;
  height: 80px;
}
.imagecontainer {
  width: 100%;
}
.topbar {
  background-color: #FF9900;
  display: block;
  height: 3rem;
  min-width: 1000px;
}
.bottombar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: auto;
}

.navbarbrand {
  padding: 0 0.75rem;
  
}
.logo {
  height: 80px;
  width: 80px;
  
}
.hamburger {
  padding: 0 0.75rem;
}

.userActions, .navbarbrand  > .title {
  display: none;
  
}
.search {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  width: 80%;
}

.link{
  color: #000;
  padding: 0 0.75rem;
}

.account, .farmer, .assistance, .wishlist {
  font-size: medium;
  display: flex;
}

@media only screen  and (min-width: 768px) {
  .navbarbrand {
    display: flex;
    padding: 0.75rem;
  }
}
@media only screen  and (min-width: 992px) {
  .userActions {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    justify-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 0.75rem;
  }
  .userActions > * {
    padding-top: 2rem;
  }
  .navbarbrand {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .navbarbrand > .title {
    display: flex;
    font-size: 2rem;
    color: #6B952C;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0.75rem;
  }
  .logo {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }
  
  
  .hamburger {
    display: none;
  }
  
  
}